@font-face{
	font-family: Gotham;
	src: url(../fonts/GothamProBlack.ttf);
}
@font-face{
	font-family: GothamItalic;
	src: url(../fonts/GothamProBlackItalic.ttf);
}
@font-face{
	font-family: GothamBold;
	src: url(../fonts/GothamProBold.ttf);
}
@font-face{
	font-family: GothamLight;
	src: url(../fonts/GothamProLight.ttf);
}
@font-face{
	font-family: GothamMed;
	src: url(../fonts/GothamProMedium.ttf);
}
@font-face{
	font-family: GothamrReg;
	src: url(../fonts/GothamProRegular.ttf);
}