.main_main_page {
	background-color: #FFF;
}
.how_work{
	width: 1160px;
	margin: 0 auto;
	padding-top: 75px;
	h1{
		font-size: 24px;
		line-height: 24px;
		color: $font;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		margin-bottom: 70px;
	}
}
.arrowDown{
	width: 220px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	margin-bottom: 15px;
}
.arrowDown_clarification{
	position: absolute;
	left: 180px;
	top: 16px; 
	font-size: 18px;
	line-height: 18px;
	font-family: GothamLight;
	text-transform: uppercase;
	color: #b9b6b1;
}
.youare{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 25px;
}
.youare_item{
	width: 100%;
	text-align: center;
}
.text_under_picture{
	font-family: GothamBold;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}
.youare_item_image{
	line-height: 90px;
	margin-bottom: 15px;
	img{
		vertical-align: middle;
	}
}
.youare_item_landing{
	margin-bottom: 15px;
	img{
		display: block;
		margin: 0 auto 15px;	
	}
}
.bag_picture{
	margin-bottom: 0;
	position: relative;
	img{
		display: block;
		margin-left: 33px;	
	}
}
.backgroundblock{
	background-image: url('../img/cover_pic.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.bag_picture .triangle{
	position: absolute;
	bottom: -22px;
	z-index: 100;
	display: block;
	margin: 0;
	width: 100%;
	img{
		display: inline;
		margin: 0;
	}
}
.tostartwork{
	padding-top: 100px;
}
.white_title{
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-bottom: 110px;
	&:last-child{
		padding-bottom: 80px;
		margin-bottom: 0
	}
}
.tostartwork_steps{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 70px;
	position: relative;
}
.tostartwork_steps_item{
	width: 33%;
	text-align: center;
	position: relative;
	img{
		display: block;
		margin: 0 auto 20px;
	}	
	p{
		color: #ffffff;
		font-family: Gotham;
		font-size: 14px;
		line-height: 18px;
	}
}
.dots{
	height: 3px;
	width: 70%;
	background-image: url("../img/logo_dots.png");
	position: absolute;
	top: 43px;
	left: 65%;
	z-index: 5;
	background-repeat: no-repeat
}
.alsoget{
	background-color: $blue;
	padding: 180px 0 25px;
	position: relative;
	.white_title_toreg{
		padding-bottom: 0;
	}
}
.alsoget_what{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	max-width: 1030px;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.alsoget_what_item{
	width: 235px;
	background-color: #FFFFFF;
	padding: 40px 0 22px;
	@include border(3px);
	p{
		font-family: GothamrReg;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
	}
	-webkit-box-shadow: 0px 5px 10px 0px rgba(52,140,185,0.6);
	-moz-box-shadow: 0px 5px 10px 0px rgba(52,140,185,0.6);
	box-shadow: 0px 5px 10px 0px rgba(52,140,185,0.6);
}
.alsoget_what_item_image{
	line-height: 85px;
	text-align: center;
	margin-bottom: 20px;
	img{
		vertical-align: middle;
	}
}
.centerblock_abs{
	position: absolute;
	top: -50px;
	width: 100%;
}
.regist_form{
	background-color: #3d3d3d;
	padding: 25px 0;
	form{
		width: 690px;
		margin: 0 auto;
		font-size: 0;
	}
	input{
		outline: none;
		border: 1px solid #717171;
		@include border(2px);
		font-size: 12px;
		line-height: 12px;
		padding: 7px 20px;
	}
}
.form_button_orange{
	background-color: #f7931e;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #ffffff;
	@include border(2px);
	border: none;
	outline: none;
	padding: 9px 0;
	width: 180px;
	cursor: pointer;
}
.form_input_name{
	width: 158px;
	margin-right: 10px;
}
.form_input_mail{
	width: 248px;
	margin-right: 10px;
}
.main_lk{
	background-color: #f2f2f2;
	padding-top: 77px;
}
.main_lk_content{
	width: 100%;
	max-width: 1280px;
	padding: 20px 30px;
	margin: 0 auto;
	overflow: hidden;
}
.burger{
	display: inline-block;
	vertical-align: top;
	width: 5%;
	text-align: left;
	height: 50px;
	position: relative;
}
.user_manage{
	margin-bottom: 20px;
	position: relative;
}
.burger_image{
	height: 100%;
	cursor: pointer;
}
.top_money_block{
	width: 92%;
	display: inline-block;
	vertical-align: top;
	margin-left: 3%;
	border-bottom: 1px solid #adadad;
}
.add_wallet{
	float: right;	
	cursor: pointer;
}
.add_wallet_point{
	background-color: $blue;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 0;
	text-align: center;
	color: #ffffff;
	@include border(23.5px);
	width: 250px;
	float: right;
	
}

.main_lk_table{
	border: 1px solid #ababab;
	display: table;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	@include border(3px);
}
.main_lk_table_money{
	border: 1px solid #ababab;
	display: table;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	@include border(3px);
}
.main_lk_table_row{
	display: table-row;
	font-family: GothamLight;
	&:first-child{
		font-family: Gotham;
	}
	&:nth-child(2n+1) {
		background-color: #FFF;
	}
	&:nth-child(2n){
		background-color: #eaeaea;
	}
}
.main_lk_table_cell{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 22px 0;
	padding-left: 32px;
	&:first-child{
		width: 295/1220*100%;
		border-right: 1px solid #ababab;
	}
	&:nth-child(2){
		border-right: 1px solid #e4e4e4;
		width: 260/1220*100%;	
	}
	&:nth-child(3){
		width: 395/1220*100%;
	}
}
.user_left_menu{
	width: 230px;
	background-color: #202d4e;
	position: absolute;
	padding-top: 48px;
	transform: translateX(-270px);
	transition: transform 150ms ease-out;
	top: -20px;
}
.user_left_menu--opened{
	left: 0;
	transform: translateX(0px);
	transition: transform 150ms ease-out;
	z-index: 1000;
}
.user_left_menu_close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 29px;
	height: 29px;
	cursor: pointer;
	img{
		width: 100%;
		height: 100%;
	}
}
.user_left_menu_item{
	line-height: 66px;
	text-align: left;
	width: 100%;
	font-size: 16px;
	color: $blue;
	font-family: GothamLight;
	padding-left: 40px;
	cursor: pointer;
	transition: all 150ms linear;
	display: block;
	img{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		&:nth-child(2){
			display: none;
		}
	}
	&:hover{
		background-color: $blue;
		color: #ffffff;
		transition: all 150ms linear;
		img{
			&:first-child{
				display: none;
			}
			&:nth-child(2){
				display: inline-block;
			}
		}
	}
}
.main_lk_moneyout_orders{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 36px;
	margin-right: 25px;
	font-family: GothamMed;
	cursor: pointer;
	margin-bottom: 20px;
}
.main_lk_moneyout_order{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ababab;
	@include border(3px);
	color: #ababab;
	font-size: 14px;
	padding: 10px 23px;
	font-family: GothamLight;
	margin-bottom: 20px;
}
.main_lk_moneyout_order_get{
	border-right: none;
	border-top-right-radius: initial;
	border-bottom-right-radius: initial;
}
.main_lk_moneyout_order_wallet{
	border-top-left-radius: initial;
	border-bottom-left-radius: initial;
}
.main_lk_table_money{
	margin-bottom: 85px;
	.main_lk_table_row:first-child{
		.main_lk_table_money_cell{
			padding: 22px 0;
			padding-left: 32px;
		}
	}
	.main_lk_table_money_cell{
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		padding: 10px 0;
		padding-left: 32px;
		border-right: 1px solid #ababab;
		&:first-child{
			width: 115/1220*100%;
		}
		&:nth-child(2){
			width: 230/1220*100%;
		}
		&:nth-child(3){
			width: 235/1220*100%;
		}
		&:nth-child(4){
			width: 195/1220*100%;
		}
		&:nth-child(5){
			width: 220/1220*100%;
		}
		&:last-child{
			border-right: none;
		}
	}
}
.main_lk_table_money_another{
	margin-bottom: 0;
}
.main_lk_table_money_another .main_lk_table_cell_anothermoney{
	width: 20%;
	border-right: 1px solid #ababab;
}
.empty_cell{
	width: 1220px;
	text-align: center;
}
.main_lk_table_money_empty{
	margin-bottom: 0;
	width: 100%;
	border-top: none;
}
.emptycell{
	text-align: center;
	padding: 10px 0;
	font-family: GothamLight;
	background-color: #eaeaea
}
.money_button{
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 18px;
	padding: 15px 25px;
	cursor: pointer;
	&:hover{
		border-bottom: 7px solid $blue;
		padding-bottom: 8px;
	}
}
.money_button_line{
	border-bottom: 7px solid $blue;
	padding-bottom: 8px;
}

#add_wallet_form{
	.main_page_forms_top{
		padding: 0;
	}
	.main_page_forms_top_item{
		cursor: default;
		width: 100%;
		text-align: center;
		font-family: Gotham;
		font-size: 18px;
		line-height: 18px;
		padding: 20px 0;
	}
	.main_page_forms_form{
		background-color: #f5f5f5;
	}
	.main_page_forms_form_input{
		margin: 0 auto 30px;
		display: block;
		background-color: #FFF
	}
	.blue_button{
		margin: 0 auto;
	}
}
.add_wallet_variables{
	width: 285px;
	margin: 0 auto 30px;
	height: 38px;
	border: 1px solid #d5d5d5;
	padding: 11px 20px;
	font-size: 14px;
	line-height: 14px;
	width: 307px;
	background-color: #FFF;
	position: relative;
	cursor: pointer;
	&::after{
		display: block;
		content: '';
		border: 3px solid #d5d5d5;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		border-top: none;
		border-left: none;
		right: 20px;
		position: absolute;
		top: 10px;
	}
}
.add_wallet_variables_items{
	position: absolute;
	width: 307px;
	top: 68px;
	left: 115px;
	border: 1px solid #d5d5d5;
	border-top: none;
	font-size: 14px;
	line-height: 40px;
	padding: 0;
	background-color: #FFF;
}
.wallet_items{
	padding: 0 20px;
	cursor: pointer;
	&:hover{
		background-color: #f6f6f6;
	}
}

.feedbacks_icons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid #d5d5d5;
	background-color: #ffffff;
	@include border(5px);
	margin-left: 97px;
	margin-bottom: 20px;
}
.feedbacks_icons_item{
	display: block;
	width: 25%;
	border-right: 1px solid #d5d5d5;
	padding: 28px 0 35px; 
	&:last-child{
		border-right: none;
	}
	img{
		display: block;
		margin: 0 auto 20px;
	}
	p{
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		text-align: center;
	}
}
.feedback_form{
	border: 1px solid #d5d5d5;
	@include border(5px);
	background-color: #FFF;
	padding: 45px 60px;
	margin-left: 97px;

}
.feedback_form_item{
	display: inline-block;
	vertical-align: top;
	width: 47%;
	margin-right: 6%;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
	font-family: GothamLight;
	&:nth-child(2n){
		margin-right: 0;
	}
}
.feedback_form_text{

}
.feedback_form_input{
	max-width: 470px;
	padding: 8px 10px;
	@include border(5px);
	border: 1px solid #d5d5d5;
	outline: none;
	outline-offset: 0;
}
.feedback_form_textarea{
	width: 100%;
	height: 75px;
	@include border(5px);
	resize: none;
	padding: 8px 10px;
	margin-bottom: 5px;
	outline: none;
}
.feedback_form_text_small{
	font-size: 10px;
	width: 100%;
}
.feedback_form_addfile{
	width: 100%;
	background-color: #eeeeee;
	border: 1px solid #dcdcdc;
	@include border(5px);
	text-align: center;
	line-height: 17px;
	padding: 7px 0;
	cursor: pointer;
	span{
		color: $blue;
		font-size: 14px;
		font-family: GothamLight;
		display: inline-block;
		vertical-align: middle;
		margin-left: 12px;
	}
	img{
		vertical-align: middle;
	}
	margin-bottom: 15px;
}
.feedback_form_blue_button{
	text-align: right;
	.blue_button{
		@include border(5px);
		font-family: GothamLight;
		padding: 11px 0;
		display: inline-block;
		vertical-align: top;
		margin: 0;
	}
}
.statistics{
	display: table;
	border: 1px solid #c9c9c9;
	margin-bottom: 15px;
}
.statistics_row{
	display: table-row;
	&:nth-child(2n+1){
		background-color: #FFF;
	}
	&:nth-child(2n){
		background-color: #eaeaea
	}
}
.statistics_cell{
	display: table-cell;
	font-size: 14px;
	line-height: 14px;
	padding: 10px;
	font-family: GothamLight;
	vertical-align: middle;
	border-right: 1px solid #c9c9c9;
	&:nth-child(1){
		width: 52/1220*100%;
	}
	&:nth-child(2){
		width: 160/1220*100%;
		position: relative;
		overflow: hidden;
		max-width: 160px;
	}
	&:nth-child(3){
		width: 120/1220*100%;
	}
	&:nth-child(4){
		width: 190/1220*100%;
		max-width: 190px;
		position: relative;
		overflow: hidden;
	}
	&:nth-child(5){
		width: 70/1220*100%;
		text-align: center;
	}
	&:nth-child(6){
		width: 115/1220*100%;
	}
	&:nth-child(7){
		width: 175/1220*100%;
	}
	&:nth-child(8){
		width: 150/1220*100%;
	}
	&:nth-child(9){
		border: none;
	}
}
.statistics_cell_shadow{
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	right: 0;
	width: 60%;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(234,234,234,1)); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(234,234,234,1)); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(234,234,234,1)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */		

}
.stat_pagination{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: flex-end;

}
.stat_pagination_item{
	width: 34px;
	height: 34px;
	@include border(50%);
	color: #000000;
	font-family: GothamLight;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	cursor: pointer;
	&:hover{
		background-color: $blue;
		color: #ffffff;
	}
}
.stat_pagination_item_points{
	&:hover{
		background-color: initial;
		color: initial;
	}
}
.stat_pagination_item-active{
	background-color: $blue;
	color: #ffffff;
}
.user_manage_choose_var{
	display: inline-block;
	vertical-align: top;
	height: 50px;
	padding: 5px 0 0 0;
	width: 30%;
}
.user_manage_choose_var_word{
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 5px;
}
.date_container_item{
	background-color: #FFF;
	width: 18%;
	font-size: 14px;
	line-height: 14px;
	border: 1px solid #c9c9c9;
	font-family: GothamLight;
	display: inline-block;
	vertical-align: top;
	padding: 5px 0 5px 10px;
	height: 27px;
	position: relative;
}
.date_container{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	
	border-right: none;
}
.date_period{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;	
}
.date_container_item_new{
	background-color: $blue;
	color: #ffffff;
	width: 25%;
	text-align: center;
	border: none;
	margin-right: 2.5%;
	padding-left: 0
}
.user_manage_choose_var_second{
	width: 65%;
	.date_period{
		width: 22%;
	}
	.date_container_item_choosegroup{
		width: 30%;
		border-left: none;
	}
}
.date_container_item_new_add{
	width: 20.5%;
	cursor: pointer;
	margin-right: 0
}
.user_manage_choose_var_first{
	.date_container, .date_period{
		width: 35%;
	}

}
.choosing_arrow{
	position: absolute;
	right: 5px;
	top: 0;
	line-height: 27px;
	height: 27px;
	cursor: pointer;
}
.choosing_arrow_img{
	vertical-align: middle;
	width: 100%;

}