$mobile: 320px;
$pad: 768px;
$desktop: 1280px;
$blue: #3ea5db;
$font: #272727;


@mixin adaptive($media) {
	@if $media == mobile {
		@media only screen and (max-width: $mobile) {
			@content;
		}
	}
	@else if $media == pad {
		@media only screen and (min-width: $mobile + 1) and (max-width: $desktop - 1) {
			@content;
		}
	}
	@else if $media == desktop {
		@media only screen and (min-width: $desktop ) {
			@content;
		}
	}
}

.clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@mixin border($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}