@import 'modules/fonts.scss';
@import 'modules/mixins.scss';
@import 'modules/mainstyles.scss';
@import 'modules/head.scss';
@import 'modules/main.scss';
@import 'modules/footer_main_page';
@import 'modules/user_forms.scss';
@import 'modules/stats.scss';
@import 'modules/user_profile.scss';
@import 'modules/hidden.scss';
